$body-border-width-pc: 2.5rem;
$body-border-width-sp: 10px;

$color-main: #93d3b6;
$color-main-second: #7ea68d;
$color-main-light: #deecdd;
$color-bg: #f7f8f5;
$color-font: #111827;
$color-font-thin: #4c4f57;
$color-white: #FBFBFB;
$color-primary-button: #31343e;
// $color-primary-button: #414d58;